{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center align-content-center" style="margin-top: 50px">
        <div class="col-lg-6">
            <form action="" method="post">
            <div class="form-group">
                {{ render_form(form) }}
            </div>

    {#        <p>#}
    {#            {{ form.username.label }}:{{ form.username(size=32) }}#}
    {#        </p>#}
    {#        <p>#}
    {#            {{ form.password.label }}:{{ form.password(size=32) }}#}
    {#        </p>#}
    {#        <p>#}
    {#            {{ form.remember_me() }}:{{ form.remember_me.label }}#}
    {#        </p>#}
    {#        <p>#}
    {#            {{ form.submit() }}#}
    {#        </p>#}
            </form>
            <p><a href="{{ url_for('auth.register') }}">click to register!</a> </p>
        </div>
    </div>
{% endblock %}